<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BB_8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BB_8.Properties.Settings>
            <setting name="CallmanagerIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="CallmanagerOSUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="CallmanagerOSPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IPPhoneUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="IPPhonePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="CallmanagerUCUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="CallmanagerUCPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="netTerrainDatabaseIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="netTerrainDatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="netTerrainDatabaseUser" serializeAs="String">
                <value />
            </setting>
            <setting name="netTerrainDatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="netTerrainUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="netTerrainPassword" serializeAs="String">
                <value />
            </setting>
        </BB_8.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="CustomBinding_INetTerrainWebApi1">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://netterrain/vis/WebApi/NetTerrainWebApi.svc"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_INetTerrainWebApi1"
                contract="WebApiNetTerrain.INetTerrainWebApi" name="CustomBinding_INetTerrainWebApi1" />
        </client>
    </system.serviceModel>
</configuration>